
upstream flask_server {
    server flask:5000;
}

upstream ui_server {
    server ui:80;
}

upstream static_landing_page_server {
    server landing:80;
}

server {

    # Warning: The HTTP server is not filtered.
    #          Cloudflare filtering is performed on the HTTPS server, so hide the HTTP server by firewall from outside world, but leave it accessible from other containers.
    #          Beware that Docker networking can ignore UFW and similar software firewalls.

    listen 80;

    location / {
        proxy_set_header Host $host;
        proxy_pass http://ui_server;
        proxy_redirect off;
    }

    location /api {
        proxy_set_header Host $host;
        proxy_pass http://flask_server;
        proxy_redirect off;
    }

}

server {
    listen              443 ssl;
    server_name         app.tlsinventory.com;
    # server_name            FILL_MANUALLY;

    ssl_certificate     /etc/ssl/private/cert.pem;
    ssl_certificate_key /etc/ssl/private/key.pem;
    ssl_password_file /etc/ssl/private/keys.pass;

    include /etc/nginx/cloudflare_real_ips.conf;

    if ($remote_addr != $http_cf_connecting_ip) {
        return 403;
    }

    location / {
        proxy_pass http://127.0.0.1;

        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $host;

        proxy_redirect off;
    }

}

server {
    listen              443 ssl;
    server_name         tlsinventory.com;
    # server_name            FILL_MANUALLY;

    ssl_certificate     /etc/ssl/private/cert.pem;
    ssl_certificate_key /etc/ssl/private/key.pem;
    ssl_password_file /etc/ssl/private/keys.pass;

    include /etc/nginx/cloudflare_real_ips.conf;

    if ($remote_addr != $http_cf_connecting_ip) {
        return 403;
    }

    location /api {
        proxy_pass http://127.0.0.1;

        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $host;

        proxy_redirect off;
    }

    location / {
        proxy_pass http://static_landing_page_server;
        # proxy_pass http://127.0.0.1;

        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $host;

        proxy_redirect off;
    }

}
